logs
project/project
project/target
modules/**/project
target
tmp
*.tmp
.history
dist
.idea
*.iml
*.eml
/out
.idea_modules
.classpath
.project
.worksheet
*.sc
RUNNING_PID
.settings
.cache
.target
**/bin
**/.gitignore
**/*~
.cache-main
.cache-tests
.DS_store